*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.navbar{
    position: fixed;
    top:0;
    width:100%;
    height:60px;
    background-color:#242526;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 35px;
 
}
.logo{
    width: 40px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-bar{
    background-color:#3a3b3c;
    border:none;
    padding: 12px 14px;
    border-radius: 20px;
    color: #e4e6eb;
    outline: none;
    font-size: 14px;
    width: 180px;
}
.search-bar::placeholder{
    color: white;
}
.nav-center{
    display: flex;
    gap: 35px;
}
}

.nav-icon{
    font-size: 35px;
    padding: 10px;
    border-radius: 10px;
    color: #b0b3b8;
    cursor: pointer;
    transition: background 0.2s;
}
.nav-icon:hover{
    background-color: #3a3b3c;
    color: #e4e6eb;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 35px;
}
.circle-icon{
    background-color: #3a3b3c;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    color: #e4e6eb;
    justify-content: center;
    align-items: center;
}
.profile-pic{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /* border: 5px solid yellow; */
}
.story-container{
    margin: auto;
    margin-top: 5rem;
    display: flex;
    gap: 16px;
    padding: 20px;
    background-color: #242526;
    max-width: 850px;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.story{
    width: 130px;
    height: 200px;
    border-radius: 12px;
    /* overflow: hidden; */
    position: relative;
    cursor: pointer;
    transition: transform o.3s ease;
}


.story:hover{
    transform: scale(1.03);
}


.story-main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}


.story-profile{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 3px solid #1877f2;
    object-fit: cover;
}

.story-user{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}



